@keyframes shake {
  0% {
/*    transform: skewX(0deg);*/
    transform: scale(1);
  }
  25% {
/*    transform: skewX(5deg);*/
    transform: scale(1.2);
  }
  50% {
/*    transform: skewX(0deg);*/
    transform: scale(1);
  }
  75% {
/*    transform: skewX(-5deg);*/
    transform: scale(.8);
  }
  100% {
/*    transform: skewX(0deg);*/
    transform: scale(2);
  }
}


*{
	margin:0;
	padding:0;
}

/* form{
  margin: 10px;
  width: 200px;
  outline:  2px solid black;
  padding: 10px;
  animation-duration: 2s;
  animation-name: shake;
animation-iteration-count: 3;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto 200px auto 80px;
  background-color: #2196F3;
  padding: 10px;
  grid-row-gap: 50px;
  grid-column-gap: 100px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* 
.item4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}  */