body {
    background-color: darkgrey
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black
}
div{
    display: inline;
    font-weight: bold
}
.hobby1{
    color: cornflowerblue;
    display: inline;
}
.hobby2{
    color: maroon;
    display: inline;
}
h2 {
    color: black;
    
}

img {
    text-align: left;
    height: 45%;
    width: 45%;
}